@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pattern-fg: rgba(255, 255, 255, 0.08);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.animate-me {
  animation: animate-me 2s linear infinite;
}
@keyframes animate-me {
  from {
    transform: translateX(-100);
  }
  to {
    transform: translateX(100%);
  }
}
