@import "tailwindcss";

@variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --pattern-fg: rgba(255, 255, 255, 0.08);
}
.dark{
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme {
  --animate-marquee: marquee 10s linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
}

/*
Vanilla CSS ke sakt khilaaf hu
.animate-me {
  animation: animate-me 2s linear infinite;
}
@keyframes animate-me {
  from {
    transform: translateX(-100);
  }
  to {
    transform: translateX(100%);
  }
} */
