@import "tailwindcss";

@theme {
  --breakpoint-paaji: 690px;
  --breakpoint-sakshi: 1500px;
  --shadow-aceternity:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  /* --breakpoint-sm:  
   --breakpoint-md:  
    --breakpoint-lg:  
     --breakpoint-xl:  
      --breakpoint-2xl:   */
}
