@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.container {
max-width: 900px;
margin: 0 auto;
/* background-color: red; */
padding: 12px;
position: relative;
}
.layout{
height: 100%;
background-image: linear-gradient(to bottom, #ffffff, #bbcfea);

}

.navbar-root{
  display: flex;
  justify-content: space-between;
  align-items : center;
  padding: 12px 0;
  margin-top: -10px;
}
.logo{
  font-size: 16px;
  font-weight: 800;
}
.links
{
  display: flex;
  align-items: center;
  gap: 16px;
}
.link-items{
font-size: 14px;
text-decoration: none;  
color: #5b5b5b;
}
.link-items:hover{
color: black;
transition: color 0.2s ease-out;
}
.btn{
all: unset;
padding: 8px 16px;
background: #3b7fff;
border-radius: 8px;
color: white;
text-shadow:  0px 1px 5px rgba(0, 0, 0, 0.15);
box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.30);

}
.btn:hover{
all: unset;
padding: 8px 16px;
background: #326ad1;
border-radius: 8px;
text-shadow:  0px 1px 5px rgba(0, 0, 0, 0.15);
box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.30);
color: white;

cursor: pointer;
}

.badge
{
  font-size: 12px;
  font-weight: 500;
  max-width: 660px;
  border-radius: 50px;
  background-color: #E7EAEE;
  padding: 4px 18px;
  width: fit-content;
  margin: 20px auto;
  border: 0.3px solid #d8dbde;
   /* ye flex wo span  and svg ke liye hai*/
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.badge:hover{
  background-color: #d9d9d9;
  transition: background 0.2ms ease-out;
}
  .hero-root{
    padding: 60px;
  }
.hero-title{
  font-size: 60px;
  font-weight: 499;
  text-align: center;
  margin-top: 30px;
  letter-spacing: -0.4px;
  line-height: 1;
}
.hero-subtitle{
font-size: 16px;
text-align: center;
max-width: 470px;
margin: 30px auto;
color: #363636;
}
.hero-cta{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -12px;
  gap: 8px;
}
.btn-secondary{
all: unset;
background-color: transparent;
padding: 8px 16px;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
gap: 4px; 
}
.btn-secondary:hover{
all: unset;
transition: background-color 0.2ms ease-out;
background-color: rgb(179, 191, 215);
padding: 8px 16px;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
gap: 4px;
cursor: pointer;
}
.left-line{
  height: 100%;
  width: 1.5px;
  background-color: rgb(211, 211, 211);
  position : absolute;
  left: -10px;
  opacity: 0.5;
}
.right-line{
  height: 100%;
  width: 1.5px;
  background-color: rgb(230, 230, 230);
  position : absolute;
  right: -10px;
  opacity: 0.5; 
}
.layout-lines-container{

}
.hero-image-container{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image{
  height: 500px;
  width: 200;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}
